VITE_FIREBASE_API_KEY=AIzaSyCpgdxclXZT9xuWNjcddcI-SIzaHYPyN7I
VITE_FIREBASE_AUTH_DOMAIN=robo-e999f.firebaseapp.com
VITE_FIREBASE_DATABASE_URL=https://robo-e999f-default-rtdb.firebaseio.com
VITE_FIREBASE_PROJECT_ID=robo-e999f
VITE_FIREBASE_STORAGE_BUCKET=robo-e999f.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=609033742444
VITE_FIREBASE_APP_ID=1:609033742444:web:2d71291714eb0eec0bd049
VITE_FIREBASE_ROOT_PATH=roboface



 apiKey: "AIzaSyCpgdxclXZT9xuWNjcddcI-SIzaHYPyN7I",
  authDomain: "robo-e999f.firebaseapp.com",
  databaseURL: "https://robo-e999f-default-rtdb.firebaseio.com",
  projectId: "robo-e999f",
  storageBucket: "robo-e999f.firebasestorage.app",
  messagingSenderId: "609033742444",
  appId: "1:609033742444:web:2d71291714eb0eec0bd049",
  measurementId: "G-G9STJHSQGN"